main {}
main .visual {position: relative; height: 80vh; overflow: hidden;}
main .visual video {width: 1920px;}
main .visual .text {
    position: absolute;
    top: 30%; width: 100%; text-align: center;
}
main .visual .text h1 {
    font-size: 2.5rem; line-height: 1.2; font-weight: 800;
    margin-bottom: 50px;
}
main .visual .text .start {
    font-size: 1.44rem; font-weight: 600; display: inline-block;
    background-color: #222; color: #fff; padding: 15px 30px; border-radius: 10px;
}